venv/
env/
.env


__pycache__/
*.pyc
.ipynb_checkpoints/

*.pt


Kvasir-SEG/
PASCAL-S/
pesos_ultralytics/
pesos_finetuned/
sam2_repo/
segment-anything/
sessile-main-Kvasir-SEG/
SAM-zero-shot/
refcocog/
train2014/
ISIC_2016/
ISIC_2016_split/
Mapillary_Vistas
Arquitecturas_clasicas/
tests/ 
notebooks/
tfg_segmentation.egg-info/
run_all.log
runs/
Grounding_Dino/
settings.json
