# Entornos virtuales
venv/
env/
.env

# Archivos basura de Python y Jupyter Notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/

# Pesos
*.pt

# Ignorar la carpeta entera de imágenes/datasets:
Kvasir-SEG/
NWPU VHR-10.coco/
pesos_ultralytics/
pesos_finetuned/
sam2/
segment-anything/
sessile-main-Kvasir-SEG/
SAM-zero-shot/runs/
